.root {
  box-sizing: border-box;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  word-break: break-word;

  transition: transform 0.1s ease 0s;
}

.root.scaled {
  transform: scale(0.8);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-top: 56px;
}
