.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 12px;

    background: var(--color-button-background-alpha);
    border: none;
    border-radius: var(--button-border-radius);
    color: var(--color-button-text);

    transition: all var(--animation_duration_s) var(--animation_easing_default);
}

.button:hover {
    background: var(--color-button-background-alpha--hover) !important;
    color: var(--color-button-text--hover) !important;
    cursor: pointer;
}

@media (max-width: 768px) {
    /* If button contains a first child span.ico then apply css */
    .button:has(> :first-child:is(span.ico)) {
        padding: 8px;
        width: 36px;
        height: 36px;
    }

    /* if span.ico is the first child of button then remove the 2nd child */
    .button:has(> :first-child:is(span.ico)) > :nth-child(2) {
        display: none;
    }
}
