#compose-window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dimmer {
    background-color: rgba(0, 0, 0, 0.48);;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#wysiwyg-editor {
    border-radius: var(--common-border-radius);
    max-width: 880px;
    height: calc(100% - 16px);
    max-height: 960px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background-color: var(--color-background-content);
    box-shadow: var(--color-box-shadow-layer-1);

    display: flex;
    flex-direction: column;
}

.wysiwyg-header {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-shadow: var(--color-box-shadow-layer-2);
    border-radius: var(--common-border-radius) var(--common-border-radius) 0 0;
    text-align: center;
    background-color: var(--color-background);
}

.wysiwyg-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--color-seperator-alpha);
    flex-grow: 1;
}

.receiver-subject-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px;
}

.receiver-subject-fields > input {
    border: none;
    border-bottom: 1px solid var(--color-seperator-alpha);
    font-size: var(--font-size);
    background-color: var(--color-background-content);
    box-shadow: var(--color-box-shadow-layer-1);
    height: 48px;
    outline: none;
}

.toolbar {
    padding: 8px 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.toolbar-cell-container {
    display: flex;
    align-items: center;
    height: 32px;
}

.editor-btn {
    all: unset;
    box-sizing: border-box;

    height: 32px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all var(--animation_duration_s) var(--animation_easing_default);
    color: var(--color-text-secondary);
}

.editor-btn:hover {
    color: var(--color-text-primary);
}

.toolbar-cell-container .editor-btn-input:checked + .editor-btn {
    color: var(--color-text-primary);
}

.toolbar-cell-dropdown .editor-btn-input:checked + .toolbar-dropdown-item span:has(.icon-done) {
    visibility: visible !important;
}

.toolbar-cell-dropdown {
    position: relative;
}

.toolbar-cell-dropdown .editor-btn {
    min-width: 48px;
}

.toolbar-cell-dropdown .editor-btn:focus + .toolbar-dropdown-content {
    visibility: visible;
    opacity: 1;
}

.toolbar-dropdown-content {
    visibility: hidden;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;
    margin: 0;
    background: var(--color-background-content);
    box-shadow: 0px 4px 32px var(--color-box-shadow-layer-2);
    border-radius: 12px;
    max-width: 242px;
    width: auto;
    position: absolute;
    left: 0;
    top: 40px;
    list-style: none;

    transition: all var(--animation_duration_s) var(--animation_easing_default);
}

.toolbar-dropdown-item {
    all: unset;
    box-sizing: border-box;

    width: 100%;
    height: auto;
    padding: 8px 24px 12px 16px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.toolbar-dropdown-item:hover {
    background: var(--color-background-content--hover);
}

.visual-view {
    outline: none;
    min-height: 360px;
    font-size: 15px;
    line-height: 140%;
    overflow-y: hidden;
    overflow-x: auto;
    word-wrap: break-word;
    width: 100%;
    padding: 0 20px;
}

.wysiwyg-footer {
    height: 70px;
    width: 100%;

    display: flex;
    align-items: center;
}

.wysiwyg-footer-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 16px 20px;
}

.wysiwyg-footer-buttons > button {
    background-color: var(--color-background-secondary-alpha);
}

.wysiwyg-footer-buttons > button:hover {
    background-color: var(--color-background-secondary-alpha--hover);
}

#wysiwyg-send-button {
    background: var(--color-text-accent) !important;
    color: var(--color-on-accent-text) !important;
}

#wysiwyg-send-button:hover {
    background: var(--color-text-accent--hover) !important;
}