#header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 56px;
    background-color: var(--color-background-header);
    filter: drop-shadow(0px 0px 16px var(--color-seperator-alpha));
    grid-area: header;
    z-index: 9999;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 16px;
}

#logo-box {
    width: 96px;
    height: 32px;
    display: block;
    position: relative;
    gap: 9.5px;
}

#logo-img {
    position: absolute;
    left: 0%;
    right: 66.44%;
    top: 0%;
    bottom: 0%;    
}

#logo-text {
    position: absolute;
    left: 43.07%;
    right: 0%;
    top: 7.5%;
    bottom: 25.02%;
    color: var(--color-logo-text) !important;
}

.header-content #back-button,
.header-content #filter-button {
    background: none !important;
    color: var(--color-filter-text) !important;
}


.filter-icons-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

#filter-button {
    justify-content: flex-end;
    padding: 10px 12px;
    gap: 4px;

    position: relative;
}

#filter-button:focus-within > .select-content {
    visibility: visible;
    opacity: 1;
}

.select-content {
    visibility: hidden;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;
    margin: 0;
    background: var(--color-background-content);
    box-shadow: 0px 4px 32px var(--color-box-shadow-layer-1);
    border-radius: 12px;
    width: 240px;
    position: absolute;
    right: 12px;
    top: 42px;
    list-style: none;

    transition: all var(--animation_duration_s) var(--animation_easing_default);
}

.select-item {
    all: unset;
    width: 232px; 
    max-width: 240px;
    height: 40px;
    display: flex;
    padding: 0 4px;
    align-items: center;
    gap: 4px;
}

.select-item:hover {
    background: var(--color-background-content--hover);
    cursor: pointer;
}

.select-item-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}


@media (max-width: 768px) {
    #logo-box {
        position: relative;
        width: 32px;
        height: 32px;
    }

    #logo-text {
        display: none;
    }
}