.unread-dot-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    min-width: 28px;
    height: 48px;
}

.read-dot[read="false"] {
    background: var(--color-text-accent) !important;
}

.read-dot {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: transparent;
}

.letter:hover .read-dot[read="true"] {
    background: var(--color-text-secondary) !important;
}

