/* https://stackoverflow.com/questions/10483323/use-hover-to-modify-the-css-of-another-class */
#settings-button:focus-within > .settings-box {
    visibility: visible;
    bottom: -48px;
}
#root:has(#settings-button:focus-within) {
    transform: scale(0.8);
}


.settings-box {
    visibility: hidden;
    position: fixed;
    bottom: -448px;
    left: 0;
    height: 400px;
    width: 100vw;
    background: var(--color-background-content);
    box-shadow: 0px -3px 48px var(--color-box-shadow-layer-2);
    transform: scale(1.25); /* Scale to normal size (e.g from 0.8) */
    display: flex;
    flex-direction: row;
    cursor: default;

    transition: all var(--animation_duration_s) var(--animation_easing_default);
}

.settings-sidebar {
    width: 260px;
    max-width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.settings-sidebar > .button {
    justify-content: flex-start;
    color: var(--color-text-primary) !important;
}

.settings-sidebar:has(#settings-theme-button:checked) label[for="settings-theme-button"],
.settings-sidebar:has(#settings-language-button:checked) label[for="settings-language-button"] {
    background: var(--color-background-secondary-alpha--active) !important;
    font-weight: bold;
}


#settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 46px 0px 32px;
    border-left: 1px solid var(--color-seperator-alpha);
}

#settings-theme,
#settings-language {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.settings-sidebar:has(#settings-theme-button:checked) ~ #settings #settings-theme,
.settings-sidebar:has(#settings-language-button:checked) ~ #settings #settings-language {
    display: flex;
}


#settings header.text {
    padding-bottom: 20px;
}

.color-theme-box {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    --select-hover: none;
    --select-active: none;
}

.custom-theme-box {
    display: flex;
    flex-direction: row;

    --select-hover: rgba(0, 95, 249, 0.48);
    --select-active: rgba(0, 95, 249, 0.48);;
}

.theme-box {
    display: grid;
    margin: 6px 10px;
    gap: 8px;

    align-items: center;
    justify-items: center;

    transition: all var(--animation_duration_s) var(--animation_easing_default);
}

.theme-box .hover-theme,
.theme-box .selected-theme {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-box .hover-theme {
    visibility: hidden;
    background: var(--select-hover);
}
.theme-box .selected-theme {
    visibility: hidden;
    background: var(--select-active);
}
.theme-box .theme {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    width: 67.5px;
    height: 40px;
}
input[name="color-theme"]:checked + .theme-box .selected-theme,
input[name="color-theme"]:not(:checked) + .theme-box:hover .hover-theme {
    visibility: visible;
    cursor: pointer;
}

.custom-theme-box .theme-box {
    margin: 10px;
}
.custom-theme-box .theme {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    width: 120px;
    height: 88px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hover-theme .text {
    color: var(--color-on-accent-text) !important;
}

#settings-language .button {
    margin-top: 32px;
    background: var(--color-text-accent) !important;
    color: var(--color-on-accent-text) !important;
}

#settings-language .button:hover {
    background: var(--color-text-accent--hover) !important;
}

.languages-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


@media (max-width: 768px) {
    .color-theme-box .theme-box,
    .color-theme-box .theme-box .theme {
        width: 30.75px;
    }
}