#view {
    background-color: var(--color-background-content);
    border-radius: var(--common-border-radius);   
}

.view-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: align-items;
    justify-content: space-between;
    padding: 16px 12px 12px 32px;
    gap: 10px;
    border-radius: 12px 12px 0px 0px;
}

.view-header > h1 {
    font-size: 1.6rem;
    line-height: 28px;
    overflow-wrap: break-word;
}

.view-category-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 12px;
    gap: 4px;    
}

.view-category-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.view-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.view-head-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    height: 42px;
}

.view-head-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 4px;
}

.view-head-info--title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
}

.view-attaches {
    display: flex;
    flex-direction: row;
    padding: 12px 32px;
}

.view-attaches-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
}

.view-images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;    
}

.view-image {
    width: 256px;
    height: 190px;
    display: grid;
    max-width: 256px;
    max-height: 190px;

    overflow: hidden;
}

.view-image > img {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    aspect-ratio: 256 / 190;
    width: 100%;
    border-radius: 12px;
}

.view-image-download {
    visibility: hidden;
    opacity: 0;

    grid-row: 1 / 1;
    grid-column: 1 / 1;

    width: 100%;
    height: 44px;
    margin-top: calc(100% - 110px);
    
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    
    color: var(--color-text-primary);
    background: var(--color-letter-attach-background);
    border-bottom-left-radius: var(--common-border-radius);
    border-bottom-right-radius: var(--common-border-radius);

    transition: all var(--animation_duration_s) var(--animation_easing_default);
}

.view-image:hover > .view-image-download {
    visibility: visible;
    opacity: 1;
}

.view-action {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.view-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 32px 32px;
    gap: 10px;
}
