.popupRoot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  padding: 32px;
}

.root {
  position: relative;
  max-width: 960px;
  max-height: 720px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--popup-bg);
  border-radius: 12px;
  box-shadow: 0px 0px 48px rgba(0, 16, 61, 0.28);

  padding: 16px;
}

.inp {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 6px;
}

.inpTitle {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 20px;
  width: 64px;
  text-align: right;
}

.inpInput {
  flex: 1;
  background: var(--popup-bg);
  color: var(--page-color);
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  outline: none;
}

.bodyInput {
  overflow: auto;
  margin: 8px;
  outline: none;
}

.emptyBody::before {
  content: attr(data-placeholder);
  box-sizing: border-box;
  color: var(--text-secondary);
}

.primBtn {
  height: 36px;
  text-align: center;

  background: var(--color-background-accent);

  color: #fff;
  justify-content: center;
}

.primBtn:hover {
  background: var(--color-background-accent);
  filter: brightness(1.15);
}

.primBtn:active {
  background: var(--color-background-accent);
  filter: brightness(1.3);
}

.finBar {
  display: flex;
  flex-direction: row-reverse; 
  align-items: center;
  gap: 12px;
}

.errText {
  color: #ED0A34
}

.attachBtn {
  width: 36px;
  height: 36px;
  padding: 8px;
}

.mainBar {
  display: flex;
  /* height: 36px; */
  flex-wrap: wrap;
  flex-direction: row;
  margin: 4px;
}

.mainBar button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBar button > * {
  transform: scale(1.4);
}

.htmlMode {
  width: 120px !important;
  margin-left: auto;
}

.linkPopup {
  display: flex;
  flex-direction: column;
  width: 320px;
  
  position: absolute;

  padding: 12px;
  gap: 8px;

  box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.24);
  background: var(--popup-bg);
  border-radius: 12px;
  z-index: 200;
}

.createLnkBtn {
  width: 100% !important;
}