.root {
  display: block;
  height: 48px;
  max-height: 48px;
  
  border-radius: 12px;
  background: var(--body-color);
  border: none;
  padding: 0;
  
  color: var(--page-color);
  
  max-width: 100%;
  width: 100%;

  cursor: pointer;
}

.rootSelected {
  background: var(--button-active-bgcolor) !important;
}

.root:hover {
  background: var(--button-hover-bgcolor);
}

.root:active {
  background: var(--button-active-bgcolor);
}

.msgRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divider {
  visibility: hidden;
  position: absolute;
  background: rgba(0, 16, 61, 0.12);
  margin-top: -1px;

  height: 1px;
  left: 71px;
  right: 12px;
}

.root:not(.rootSelected) + .root:not(.rootSelected) .divider {
  visibility: visible;
}

.root.rootSelected + .root.rootSelected .divider {
  visibility: visible;
}

.root:hover:not(.rootSelected) + .root .divider {
  visibility: hidden !important;
}

.root:hover:not(.rootSelected) .divider {
  visibility: hidden !important;
}

.text {
  flex: 1;

  padding-right: 16px;
  padding-left: 8px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;

  font-size: 15px;
  color: var(--text-secondary);
}

.title {
  padding-right: 8px;
  color: var(--page-color);
}

.root:hover .hideOnSelect,
.rootSelected .hideOnSelect {
  display: none;
}

.checkContainer {
  width: 32px;
  height: 32px;
  display: none;
  user-select: none;
}

.root:hover .checkContainer,
.rootSelected .checkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkMain {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  box-sizing: border-box;

  background-color: var(--controls-bg);
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.checkMain svg {
  opacity: 0;
}

.checkContainer input {
  display: none;
}

.checkContainer input:checked ~ .checkMain {
  background-color: #005ff9;
}

.checkContainer input:checked ~ .checkMain svg {
  opacity: 1;
}

.author {
  width: 148px;
  margin-left: 12px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;

  font-size: 15px;
}

.bold {
  font-weight: 700;
}

.msgMarker {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root:hover .msgMarker {
  display: none;
}

.bookmark {
  width: 48px;
  height: 48px;

  display: none;
  color: var(--icon-secondary);
}

.root:hover .bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  width: 52px; /* 64 - 12 px */
  color: var(--text-secondary);
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  margin-right: 12px;
}

.iconCont {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  width: 48px;
  margin-right: 4px;
}

.attach,
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 24px;
  height: 24px;

  padding: 2px;
}

.btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 8px;
  box-sizing: border-box;
  user-select: none;
}

.btn:hover {
  background-color: var(--button-hover-bgcolor);
}

.btn:active {
  background: var(--button-active-bgcolor);
}

.btnPressed {
  background-color: var(--button-active-bgcolor) !important;
}

.attach .imgpopup {
  display: block;
  position: absolute;
  right: 100%;
  top: -86px; /* -(192 + 8 - 28) / 2 */
  margin-right: 4px;

  padding: 4px;

  box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.24);
  background: var(--popup-bg);
  border-radius: 12px;
  z-index: 200;
}

.imgpopup img {
  border-radius: 12px;
  display: block;
}
