@import "ui/styles";

.root {
  position: relative;
  width: 100%;
  border-radius: $radius-sm;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  overflow: hidden;

  &__checkmark,
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity get-theme-var($--theme-anim-fast);
    opacity: 0;
    pointer-events: none;
  }

  &__checkmark {
    width: 20px;
    height: 20px;
    margin: auto;
    color: #fff;

    // HACK: fix sizing error in Icon
    & > svg {
      width: 100%;
      height: 100%;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: get-theme-var($--theme-color-icon-accent);
    pointer-events: none;
  }

  // Selected
  &.selected::before {
    opacity: 0.5;
  }

  &.selected &__checkmark {
    opacity: 1;
  }

  // Sizes
  &.sm {
    height: 40px;
  }

  &.md {
    height: 88px;
  }
}
