@import "./themes";
@import "./reset.scss";
@import "./index.scss";

// Themes
@each $name, $theme in $themes {
  @include apply-theme($name, $theme);
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: get-theme-var($--theme-bg-app);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: get-theme-var($--theme-anim-fast);
  transition-property: background;
}

#__next {
  transition: transform get-theme-var($--theme-anim-default-duration) ease;
  will-change: transform;
}
