@import "../../styles";

.root {
  background: get-theme-var($--theme-bg-default);
  overflow: hidden;

  &.wide {
    border-radius: $radius-md;
  }

  &.miniature {
    border-radius: $radius-xs;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: $anim-default;
    transition-property: opacity;

    &.visible {
      opacity: 1;
    }
  }
}
