$gutters: (
  xs: 4px,
  sm: 8px,
  md: 12px,
);

.root {
  // TODO: add vertical option
  // TODO: add alignment configuration
  display: flex;
  flex-flow: row nowrap;

  @each $key, $gutter in $gutters {
    &.#{$key} {
      & > * {
        margin-right: $gutter;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
