@import "ui/styles";

.root {
  margin-bottom: 12px;

  & > span {
    margin-left: 0 !important;
  }

  &__icon {
    width: 20px;
    margin-right: 4px;
    opacity: 0;
    transition-property: opacity;
    transition: get-theme-var($--theme-anim-default);

    &.visible {
      opacity: 1;
    }
  }
}
