@import "ui/styles";

.root {
  &__title {
    margin-bottom: 20px;
  }

  &__themes {
    display: flex;
    flex-flow: row wrap;
    max-width: 700px;
  }

  &__palette {
    width: 25%;
    padding: 6px 10px;

    @include breakpoint(md) {
      width: 12.5%;
    }
  }

  &__theme {
    width: 33.33%;
    padding: 6px 10px;

    @include breakpoint(md) {
      width: 20%;
    }
  }
}
