@import "./dark.scss";
@import "./light.scss";

$themes: (
  light: $theme-light,
  dark: $theme-dark,
);

@mixin apply-theme($name, $rules) {
  :root.theme-#{$name} {
    @include apply-rules($rules);
  }

  :root.theme-#{$name}-contrast [data-theme-contrast="true"] {
    @include apply-rules($rules);
  }
}
