@import "../../styles";

.root {
  &__title {
    width: 100%;
    text-align: left;
    opacity: 1;
    transition: get-theme-var($--theme-anim-default);
    transition-property: opacity;
  }

  &.active {
    font-weight: 700;
    background: get-theme-var($--theme-color-state-transparent-active);

    &:hover {
      background: get-theme-var($--theme-color-state-transparent-active);
    }
  }

  &.collapsed &__title {
    opacity: 0;
  }

  &.collapsed {
    padding-left: 8px;
  }
}
