@import "ui/styles";

.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__image {
    width: 300px;
    height: 190px;
    margin-bottom: 20px;
    background-image: get-theme-var($--theme-bg-empty-space);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
