@import "ui/styles";

.root {
  padding: 1px 4px;
  border-radius: $radius-xs;
  transition: $anim-default;
  transition-property: background;
  cursor: pointer;

  &:hover {
    background: get-theme-var($--theme-color-state-transparent-hover);
  }
}
