@import "../../styles";

.root {
  padding: 8px 0;
  border-radius: $radius-md;
  background: get-theme-var($--theme-bg-tooltip);
  box-shadow: get-theme-var($--theme-shadow-popup);
  overflow: hidden;
}
