@import "../../styles";

.root {
  padding: 10px 4px;

  &.hoverable {
    transition: $anim-default;
    transition-property: background;
    cursor: pointer;

    &:hover {
      background: get-theme-var($--theme-color-state-transparent-hover);
    }
  }
}
