.root {
  &__title {
    margin-bottom: 20px;
  }

  &__languages {
    display: flex;
    flex-flow: column;
    margin-bottom: 32px;

    & > * {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__flag {
    margin-right: 12px;
  }
}
