@import "ui/styles";

.root {
  margin: -12px;
  padding: 12px;

  &__content {
    border-radius: $radius-md;
    background: get-theme-var($--theme-bg-default);
    transition: background get-theme-var($--theme-anim-fast);
    overflow: hidden;
    opacity: 0;
    animation: fade_in get-theme-var($--theme-anim-fast) forwards;

    &.has_loader {
      padding-bottom: 48px;
    }
  }

  &__loader {
    padding: 12px;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
