@import "../../styles";

.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-left: 28px;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &::before,
  &::after,
  &__border {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: $radius-full;
  }

  &::after {
    border: 1px solid get-theme-var($--theme-color-border-primary);
    z-index: 2;
  }

  &::before {
    background: get-theme-var($--theme-bg-control);
    z-index: 1;
  }

  &__border {
    border: 5px solid transparent;
    border-radius: $radius-full;
    transition: border-color get-theme-var($--theme-anim-fast);
    z-index: 2;
  }

  &__input:checked + &__border {
    border-color: get-theme-var($--theme-color-icon-accent);
  }
}
