@import "ui/styles";

.root {
  width: 290px;
  min-height: 56px;

  &__attachment {
    padding: 4px 12px;
  }

  &__preview {
    padding: 0 !important;

    :global(.#{$prfx-rc-popover}-inner) {
      padding: 4px;
    }
  }
}
