@import "./theme-variables.scss";
@import "./typography-presets.scss";

// Token: ${theme}-${property|kind}-${subject}-${variant?}

// Backgrounds
$light-bg-default: #ffffff;
$light-bg-secondary: #f6f7f8;
$light-bg-control: #ffffff;
$light-bg-tooltip: #ffffff;
$light-bg-empty-space: url("/static/themes/light-empty-space.png");

$dark-bg-default: #232324;
$dark-bg-secondary: #19191a;
$dark-bg-control: #1f1f1f;
$dark-bg-tooltip: #2b2b2c;
$dark-bg-empty-space: url("/static/themes/dark-empty-space.png");

// Texts
$light-color-text-primary: #2c2d2e;
$light-color-text-secondary: #87898f;
$light-color-text-ghost: rgba(51, 51, 51, 0.48);
$light-color-text-link: #005bd1;

$dark-color-text-primary: #e7e8ea;
$dark-color-text-secondary: #8c8e94;
$dark-color-text-ghost: rgba(231, 232, 234, 0.48);
$dark-color-text-link: #589bff;

// Borders / Dividers
$light-color-border-primary: rgba(0, 16, 61, 0.12);

$dark-color-border-primary: rgba(0, 0, 0, 0.4);

// States: hover, active, etc.
$light-color-state-transparent-active: rgba(0, 16, 61, 0.08);
$light-color-state-transparent-hover: rgba(0, 16, 61, 0.04);

$dark-color-state-transparent-active: rgba(255, 255, 255, 0.08);
$dark-color-state-transparent-hover: rgba(255, 255, 255, 0.04);

// Icons
$light-color-icon-accent: #005ff9;
$light-color-icon-secondary: #a5a7ad;
$light-color-icon-error: #fc2c38;

$dark-color-icon-accent: #3c82fd;
$dark-color-icon-secondary: #9c9da2;
$dark-color-icon-error: #ff4550;

// Shadows
$light-shadow-header: 0px 0px 16px rgba(2, 13, 41, 0.12);
$light-shadow-tooltip: 0px 8px 36px rgba(2, 13, 41, 0.25);
$light-shadow-popup: 0px 4px 32px rgba(0, 16, 61, 0.24);
$light-shadow-drawer: 0px -3px 48px rgba(0, 16, 61, 0.28);

$dark-shadow-header: unset;
$dark-shadow-tooltip: $light-shadow-tooltip;
$dark-shadow-popup: $light-shadow-popup;
$dark-shadow-drawer: $light-shadow-drawer;

// Other
$light-overlay-gradient: linear-gradient(0deg, rgba(236, 237, 240, 0.95) 56.81%, rgba(236, 237, 240, 0) 104.46%);
$light-color-logo-text: $light-color-icon-accent;

$dark-overlay-gradient: linear-gradient(0deg, rgba(44, 44, 45, 0.9) 45.32%, rgba(44, 44, 45, 0) 104.46%);
$dark-color-logo-text: #ffffff;

// Radiuses
$radius-xs: 4px;
$radius-sm: 8px;
$radius-md: 12px;
$radius-full: 100%;

// Animations
$anim-default-duration: 0.15s;
$anim-default: $anim-default-duration ease-in;

$anim-fast-duration: 0.1s;
$anim-fast: $anim-fast-duration ease-in;

// Breakpoints
$breakpoints: (
  md: 769px,
  lg: 1367px,
);

// Component prefixes
$prfx-rc-popover: rc-popover;
