.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: fixed;
  left: 0px;
  top: 56px;

  bottom: 0px;
  width: var(--toolbar-size);
  box-sizing: border-box;

  padding: 12px var(--toolbar-padding-left);
  z-index: 50;

  --button-color: var(--bg-button-color);
  --button-hover-bgcolor: var(--bg-button-hover-bgcolor);
  --button-active-bgcolor: var(--bg-button-active-bgcolor);
}

.newLetter {
  margin-bottom: 12px;

  color: #333333;

  background: #fff;
  border: 1px solid var(--separator-color);
  border-radius: 8px;

  text-align: center;
  justify-content: center;

  font-weight: 700;
}

.newLetter:hover {
  background: #eee;
}

.newLetter:active {
  background: #ccc;
}

.newLetter svg {
  display: var(--toolbar-short-shown);
}

.expandHider {
  display: var(--toolbar-short-shown);
}
@media (min-width: 768px) {
  .expandScreenHide {
    display: none;
  }
}

.divider {
  width: 100%;
  height: 1px;

  margin-top: 8px;
  margin-bottom: 8px;

  background-color: var(--separator-color);
}

.newDir {
  opacity: 0.48;
}

.settingsBtn {
  margin-top: auto;
}

.root input {
  background-color: var(--popup-bg);
  width: 200px;
  margin-bottom: 4px;
}

.toolbarExpanded {
  --toolbar-size: 232px;
  --toolbar-padding-left: 16px;
  --toolbar-button-padding: 12px;
  --toolbar-short-hidden: unset;
  --toolbar-short-shown: none;
}

.expandedText {
  margin-left: 8px;
  margin-right: 12px;
  display: var(--toolbar-short-hidden);
}

.btn {
  height: 36px;
  padding: 8px;
  padding-left: var(--toolbar-button-padding);
}

.btnActive {
  font-weight: 700;
}