@import "../../styles";

.root {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
  text-align: center;
  border-radius: $radius-sm;
  white-space: nowrap;

  color: get-theme-var($--theme-color-text-primary);
  transition: get-theme-var($--theme-anim-default);
  transition-property: background;

  &__content {
    width: 100%;

    &.pad_left {
      margin-left: 8px;
    }

    &.icon_only {
      line-height: 0 !important;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }

  // --- Variants
  &.primary {
    @include apply-rules($text-preset-button);

    background: $light-bg-default;
    color: $light-color-text-primary;
    transition-property: color background border-color;
    border: 1px solid get-theme-var($--theme-color-border-primary);
    font-weight: 700;

    &:hover {
      background: mix($light-bg-default, opacify($light-color-state-transparent-hover, 1), 94%);
    }

    &:active {
      background: mix($light-bg-default, opacify($light-color-state-transparent-hover, 1), 88%);
    }
  }

  &.secondary {
    background: transparent;

    @include apply-rules($text-preset-button);

    &:hover {
      background: get-theme-var($--theme-color-state-transparent-hover);
    }

    &:active {
      background: get-theme-var($--theme-color-state-transparent-active);
    }
  }

  &.ghost {
    background: transparent;
    color: get-theme-var($--theme-color-text-ghost);

    @include apply-rules($text-preset-button);

    &:hover {
      background: get-theme-var($--theme-color-state-transparent-hover);
    }

    &:active {
      background: get-theme-var($--theme-color-state-transparent-active);
    }
  }

  &.text {
    display: inline-flex;
    padding: 0;
    background: transparent;
    color: get-theme-var($--theme-color-text-link);

    &:hover {
      text-decoration: underline;
    }
  }

  // --- Modifiers
  &.stretch {
    width: 100%;
  }
}
