.root {
  background: var(--body-color);
  color: var(--page-color);
  border-radius: 12px;
}

.titleRoot {
  width: 100%;
  padding: 16px 12px 16px 32px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
}

.title {
  flex: 1;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.categoryRoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 6px;
  padding: 6px 12px 2px 12px;

  font-size: 13px;
  line-height: 20px;
}

.infoContainer {
  padding-left: 2px;
  height: 58px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  margin-left: 2px;
  margin-right: 12px;
}

.authorContainer {
  height: 42px;
}

.authorMain {
  height: 20px;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  display: flex;
  flex-direction: row;
  gap: 8px;
}

.date {
  color: var(--text-secondary);
  font-size: 13px;
}

.targets {
  margin-top: 4px;
  height: 18px;
  text-align: left;
  font-size: 13px;
  line-height: 18px;
  color: var(--text-secondary);
}

.underlined {
  text-decoration: underline;
}

.attachment {
  padding: 12px 32px;

  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.fileNum {
  margin-top: 8px;
}

.download {
  margin-left: 16px;
  color: var(--link-color);
  text-decoration: none;
}

.download:hover {
  text-decoration: underline;
}

.secondary {
  color: var(--text-secondary);
}

.bodyText {
  padding: 32px;
  padding-top: 0;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  overflow: hidden;
}

.bodyText > p {
  margin-top: 16px;
  margin-bottom: 20px;
}

.importantIcon {
  margin-right: -10px;
}

.bookmarker {
  margin-top: -2px;
}

.hideBookmarker {
  display: none;
}

.infoContainer:hover .hideBookmarker {
  display: unset;
}

.spacer {
  height: 80px;
}