@import "ui/styles";

.root__logo {
  & > path:last-child {
    opacity: 0;
    fill: get-theme-var($--theme-color-logo-text);
    transition: get-theme-var($--theme-anim-fast);
    transition-property: opacity;
  }

  @include breakpoint(md) {
    & > path:last-child {
      opacity: 1;
    }
  }
}
