.root {
  display: flex;
  align-items: center;

  height: 56px;
  padding: 8px 12px;
  padding-left: 16px;
  box-sizing: border-box;

  filter: drop-shadow(0px 0px 16px rgba(2, 13, 41, 0.12));
  background: var(--header-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 51;

  --button-color: var(--header-button-color);
  --button-hover-bgcolor: var(--bg-button-hover-bgcolor);
  --button-active-bgcolor: var(--bg-button-active-bgcolor);
}

.title {
  margin-left: 12px;
  display: block;
  display: var(--toolbar-short-hidden);

  font-family: 'Mail Sans Roman', 'Arial';
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.icoTitle {
  color: var(--logo-color)
}

.ico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.filler {
  flex: 1
}
