@import "../../styles";

.root {
  position: absolute;
  background: get-theme-var($--theme-bg-default);
  box-shadow: get-theme-var($--theme-shadow-drawer);
  transition: get-theme-var($--theme-anim-fast);
  transition-property: background box-shadow;
  animation: get-theme-var($--theme-anim-default-duration) ease forwards;
  animation-play-state: paused;
  z-index: 1;

  &__close {
    position: absolute;
    top: 12px;
    right: 4px;
  }

  &.open,
  &.close {
    animation-play-state: running;
  }

  &.close {
    box-shadow: 0 0 0 0 transparent;
  }

  // Variations
  &.bottom {
    width: 100%;
    bottom: 0;

    &.open {
      animation-name: bottom_open;
    }

    &.close {
      animation-name: bottom_close;
    }
  }

  &.left {
    bottom: 0;

    &.open {
      animation-name: left_open;
    }

    &.close {
      animation-name: left_close;
    }
  }

  // Elements
  &__overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }
}

// Animations
@keyframes bottom_open {
  from {
    transform: translate(0, 100%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes bottom_close {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 100%);
  }
}

@keyframes left_open {
  from {
    transform: translate(-100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes left_close {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-100%, 0);
  }
}
