@import "ui/styles";

.root {
  position: relative;
  border-radius: $radius-md;
  overflow: hidden;
  cursor: pointer;

  &__download {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center;

    bottom: 0;
    width: 100%;
    padding: 4px 0;
    background: get-theme-var($--theme-overlay-gradient);
    opacity: 0;
    transition: $anim-default;
    transition-property: opacity;
  }

  &:hover &__download {
    opacity: 1;
  }
}
