@import "../../styles";

.root {
  transition-property: background;
  background: get-theme-var($--theme-color-border-primary);
  transition: get-theme-var($--theme-anim-default);

  &.horizontal {
    width: 100%;
    height: 1px;
    margin: 8px 0;
  }

  &.vertical {
    width: 1px;
  }
}
