@import "ui/styles";

.root {
  display: flex;
  flex-shrink: 0;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: $radius-full;
    background: get-theme-var($--theme-color-icon-accent);
    transition: get-theme-var($--theme-anim-fast);
    transition-property: background;
  }

  &.read::before {
    background: get-theme-var($--theme-color-icon-secondary);
  }
}
