@import "../../../styles";

.root {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__icon {
    margin-right: 6px;
    color: get-theme-var($--theme-color-text-primary);
    opacity: 0;
    transition: opacity get-theme-var($--theme-anim-fast);

    & svg {
      width: 9px;
      height: 7px;
    }
  }

  &.selected &__icon {
    opacity: 1;
  }
}
