:root {
    --color-start: #232324;
    --color-middle: #272729;
}

[data-theme="light"] {
    --color-start: rgb(250,250,250);
    --color-middle: rgb(245,245,245);
}

.shimmer {
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, var(--color-start) 8%, var(--color-middle) 18%, var(--color-start) 33%);
    background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}