@import "../../styles";

.root {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__header {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    width: 100%;
    // TODO: get header height from css vars
    height: calc(100vh - 56px);
  }

  &__sidebar {
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
  }

  &__content {
    flex-grow: 1;
    width: 100%;
    padding: 12px;
    overflow-y: auto;
  }

  &.has_sidebar &__content {
    padding-left: 4px;
  }
}
